{% extends "base.html" %}

{% block title %}Home{% endblock title %}Home

{% block body %}

{% load static %}
<div class="continer">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src={% static "title1.webp" %}
          width = "425"
          height="370"
          class="d-block w-100 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to the best Ice Cream Shop of India </h5>
          <p>Choose the flavour you are craving for.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/1700/400"
          class="d-block w-100 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>We Serve High Quality Ice Cream</h5>
          <p>We Ranked First In India .</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/1700/400"
          class="d-block w-100 mx-auto"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Got Bored By These Flavour</h5>
          <p>Wait For Weekends ! You Will Be Thrilled For the New Flavour.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container width= 50 mx-auto my-3">
  <h1 class="my-2 text-center"> Select From the Range Of IceCream</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 width=50 mx-auto">
  <div class="col">
    <div class="card shadow-sm">
      

        <title>Placeholder</title>
        <img
          src="{% static "strawberry.jpg.png" %}"
          width="415"
          height="235"
          alt="strawberry Image"
        />
      
      <div class="card-body">
        <p class="card-text">
          Creamy strawberry ice cream made with the sweetness of ripe berries.
Fresh, fruity, and perfectly balanced for a refreshing treat.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-sm btn-outline-secondary buy-btn"
                data-bs-toggle="modal"
                data-bs-target="#iceCreamModal"
                data-name="Strawberry Ice Cream 🍓"
                data-img="{% static 'Strawberry.jpg.png' %}"
                data-price="129">
                Buy
              </button>

            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <title>Placeholder</title>
        <img
          src={% static "chocolate.jpg.png" %}
          width="415"
          height="235"
          class="d-block w-100 mx-auto"
          alt="Chocolate Flavour"
        />
      </svg>
      <div class="card-body">
        <p class="card-text">
          Rich and indulgent chocolate ice cream crafted from premium cocoa.
A classic flavor that melts smoothly with deep chocolatey goodness.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-sm btn-outline-secondary buy-btn"
                data-bs-toggle="modal"
                data-bs-target="#iceCreamModal"
                data-name="chocolate Ice Cream "
                data-img="{% static 'chocolate.jpg.png' %}"
                data-price="139">
                Buy
              </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <title>Placeholder</title>
        <img
          src={% static "Mint_chocolate.jpg.png" %}
          width="415"
          height="235"
          class="d-block w-100 mx-auto"
          alt="Mint_chocolate Flavour"
        />
      </svg>
      <div class="card-body">
        <p class="card-text">
          Cool mint ice cream blended with crunchy chocolate chips.
A refreshing burst of flavor with the perfect hint of sweetness.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-sm btn-outline-secondary buy-btn"
                data-bs-toggle="modal"
                data-bs-target="#iceCreamModal"
                data-name="Mint_chocolate Ice Cream "
                data-img="{% static 'Mint_chocolate.jpg.png' %}"
                data-price="129">
                Buy
              </button>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <title>Placeholder</title>
       <img
          src={% static "Vanila.jpg.png" %}
          width="415"
          height="235"
          class="d-block w-100 mx-auto"
          alt="Vanila Flavour"
        />
      </svg>
      <div class="card-body">
        <p class="card-text">
          Smooth and creamy vanilla ice cream made from real vanilla beans.
Simple, elegant, and the perfect base for any dessert lover.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-sm btn-outline-secondary buy-btn"
                data-bs-toggle="modal"
                data-bs-target="#iceCreamModal"
                data-name="Vanila Ice Cream "
                data-img="{% static 'Vanila.jpg.png' %}"
                data-price="129">
                Buy
              </button>
           
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">

        <title>Placeholder</title>
        <img
          src={% static "ButterScotch.jpg.png" %}
          width="415"
          height="235"
          class="d-block w-100 mx-auto"
          alt="ButterScotch Flavour"
        />
      </svg>
      <div class="card-body">
        <p class="card-text">
          Velvety butterscotch ice cream with a delightful caramel crunch.
Sweet, buttery, and irresistibly rich in every bite.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-sm btn-outline-secondary buy-btn"
                data-bs-toggle="modal"
                data-bs-target="#iceCreamModal"
                data-name="ButterScotch Ice Cream "
                data-img="{% static 'ButterScotch.jpg.png' %}"
                data-price="129">
                Buy
              </button>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <title>Placeholder</title>
        <img
          src={% static "choco_chip.jpg.png" %}
          width="415"
          height="235"
          class="d-block w-100 mx-auto"
          alt="choco_chip Flavour"
        />
      </svg>
      <div class="card-body">
        <p class="card-text">
          Creamy vanilla ice cream loaded with crunchy chocolate cookie pieces.
A timeless favorite combining smoothness and crunch.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-sm btn-outline-secondary buy-btn"
                data-bs-toggle="modal"
                data-bs-target="#iceCreamModal"
                data-name="choco_chip Ice Cream "
                data-img="{% static 'choco_chip.jpg.png' %}"
                data-price="129">
                Buy
              </button>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <title>Placeholder</title>
        <img
          src={% static "pistachio.jpg.png" %}
          width="415"
          height="235"
          class="d-block w-100 mx-auto"
          alt="pistachio Flavour"
        />
      </svg>
      <div class="card-body">
        <p class="card-text">
          Nutty pistachio ice cream with a naturally rich and creamy texture.
A premium flavor loved for its unique taste and smooth finish.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
                type="button"
                  class="btn btn-sm btn-outline-secondary buy-btn"
                  data-bs-toggle="modal"
                  data-bs-target="#iceCreamModal"
                  data-name="pistachio Ice Cream "
                  data-img="{% static 'pistachio.jpg.png' %}"
                  data-price="210">
                  Buy
                </button>

            
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <title>Placeholder</title>
        <img
          src={% static "Mango.jpg.png" %}
          width="415"
          height="235"
          class="d-block w-100 mx-auto"
          alt="Mango Flavour"
        />
      </svg>
      <div class="card-body">
        <p class="card-text">
          Made from real juicy mangoes for an authentic tropical flavor.
Bright, refreshing, and bursting with fruity goodness.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary buy-btn"
                data-bs-toggle="modal"
                data-bs-target="#iceCreamModal"
                data-name="Mango Ice Cream 🥭"
                data-img="{% static 'Mango.jpg.png' %}"
                data-price="149">
                Buy
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      
        <title>Placeholder</title>
        <img
          src={% static "rassberry.jpg.png" %}
          width="415"
          height="235"
          class="d-block w-100 mx-auto"
          alt="Chocolate Flavour"
        />
      </svg>
      <div class="card-body">
        <p class="card-text">
          Light and refreshing berry sorbet with a tangy-sweet finish.
Dairy-free, vibrant, and perfect for a fresh, fruity indulgence.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
                type="button"
                class="btn btn-sm btn-outline-secondary buy-btn"
                data-bs-toggle="modal"
                data-bs-target="#iceCreamModal"
                data-name="rassberry Ice Cream "
                data-img="{% static 'rassberry.jpg.png' %}"
                data-price="129">
                Buy
              </button>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="iceCreamModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">

        <img id="modalImg" class="img-fluid mb-3" alt="Ice Cream">

        <h4 class="text-success">₹<span id="modalPrice"></span></h4>

        <p>⭐⭐⭐⭐☆ (4.5)</p>

        <div class="mb-3">
          <label>Quantity</label>
          <input type="number" class="form-control text-center" value="1" min="1">
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-success w-100">Buy Now</button>
      </div>

    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock body %}
